*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bianco{
  color: #fff;
}

.grigino{
  color: #52555b;
}
.fl{
  float: left;
}

.fr{
  float: right;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.barra-laterale{
  background-color: black;
  height: calc(100% - 100px);
  width: 250px;
  padding: 15px;
}

nav{
  width: calc(100% - 250px);
  height: 100px;
  background-color: #080b12;
  /* position: fixed;
  top: 0;
  right: 0; */
}

.home{
  background-color: #141922;
  width: calc(100% - 250px);
  height: calc(100% - 200px);
}

footer{
  background: #282828;
  height: 100px;
  width: 100%;
}

.barra-laterale>img{
  width: 150px;
  height: 50px;
}

.nav{
}
.nav img{
  width: 30px;
  height: 50px;
}

.bordo{
  border-left: 1px #adff2f;

}
