*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 12px;
}

.center{
  text-align: center;
}

.bianco{
  color: #fff;
  font-weight: bold;
}

.grigino{
  color: #52555b;
}
.fl{
  float: left;
}

.fr{
  float: right;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 12px;
}

ul{
  list-style: none;
}

.bordol{
  border-left: 3px solid #adff2f;
}

.bordob{
  border-bottom: 3px solid #adff2f;
  width: 50px;
  text-align: center;
  padding: 3px;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

/* Navbar superiore */

nav{
  width: calc(100% - 250px);
  height: 100px;
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 100px;
  background-color: #080b12;
}

.upgrade{
  line-height: 100px;
}

/* /Navbar superiore */

/* Barra laterale */

.barra-laterale{
  background-color: black;
  height: calc(100% - 100px);
  width: 250px;
  padding: 15px;
}

.logo{
  width: 150px;
  height: 50px;
}

.logo-piccolo{
  display: none;
}

.side-bar img{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.nav{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height:100%;
}

.nav>ul{
  margin-top: 20px;
}

.nav li{
  padding: 10px 0px;
}

.nav li:nth-of-type(4){
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.side-bar{
  height: calc(100% - 100px);
  overflow-y: auto;
}

.add{
  font-size: 34px;
  vertical-align: middle;
  padding-right: 5px;
}

.profilo{
  height: 60px;
}

.load{
  margin-right: 5px;
}

.bordino-grigio{
  border-bottom: 1px solid #52555b;
}

.user{
  height: 20px;
  width: 20px;
  background-color: #52555b;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

/* /Barra laterale */

/* Home */

.home{
  background-color: #141922;
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  overflow-y: auto;
  font-size: 25px;
}

.btn-upgrade{
  width: 200px;
  height: 30px;
  background-color: #080b12;
  border-color: lightgrey;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
}

.navbar-home{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

.navbar-home ul{
  text-transform: uppercase;
  font-size: 18px;
}

.navbar-home li{
  display: inline-block;
  padding: 0px 10px;
}

 li:hover{
  color: #fff;
}
/* Album */

.canzoni{
  margin-top: 100px;
  padding-left: 15px;
}

.flex::after{
  content: "";
  display: table;
  clear: both;
}

.flex-start::after{
  content: "";
  display: table;
  clear: both;
}

.titolo{
  margin-bottom: 20px;
}

.margin-top{
  margin-top: 20px;
}

.home img{
  width: 250px;
  height: 250px;
}

.song{
  margin-right: 15px;
  width: calc(100% / 6 - 15px);
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.flex-start{
  display: flex;
  flex-wrap: wrap;
}

.tondi img{
  border-radius: 50%;
}

.play{
  display: none;
}

.song:hover .play{
  width: 50px;
  height: 50px;
  display: block;
  /* position: absolute;
  transform: translate(-50% , -312%);
  left: 390px; */
}

.canzone:hover{
  background-color: rgba(000,000,000,0.8);
  z-index: 10000;
}

/* /Album */

/* /Home */


/* Footer */

footer{
  background: #282828;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}


.mini, .options {
  width: 20%;
}

.player {
  width: 60%;
  text-align: center;
}

.player ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player ul li {
  list-style: none;
  font-size: 16px;
  padding: 10px;
}

.player ul li.big {
  font-size: 32px;
  padding: 10px 20px;
}

.player ul li.big:hover {
  transform: scale(1.2);
}

.player-control-time {
  background: rgba(255,255,255,.2);
  width: 100%;
  height: 4px;
}

.player-control-time .elapsed-time {
  position: relative;
  background: rgba(255,255,255,.8);
  height: 100%;
}

.elapsed-time .point {
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(50%, -50%);
  right: 0;
  top: 50%;
}

.player-control-time:hover .point {
  display: block;
}

.perc-20 {
  width: 20%;
}

.perc-40 {
  width: 40%;
}

/* /Footer */

/* xs */

@media (max-width: 575px){
  .song{
    width: calc(100% / 2 - 15px)
  }

  .none{
    display: none;
  }

  .barra-laterale{
    height: calc(100% - 100px);
    width: 60px;
  }

  .logo-piccolo{
    display: block;
    width: 30px;
    height: 30px;
  }

  .logo-spotify{
    display: none;
  }

  nav{
    width: calc(100% - 60px);
  }

  .home{
    width: calc(100% - 60px);
  }
}

/* /xs */

/* sm */

@media (max-width: 767px){
  .song{
    width: calc(100% / 2 - 15px);
  }
}

/* /sm */

/* md */

@media (max-width: 991px){
  .song{
    width: calc(100% / 4 - 15px);
  }
}

/* /md */
