*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 12px;
}

.bianco{
  color: #fff;
}

.grigino{
  color: #52555b;
}
.fl{
  float: left;
}

.fr{
  float: right;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#wrapper{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.barra-laterale{
  background-color: black;
  height: calc(100% - 100px);
  width: 250px;
  padding: 15px;
}

nav{
  width: calc(100% - 250px);
  height: 100px;
  position: fixed;
  text-align: right;
  padding-right: 50px;
  line-height: 100px;
  background-color: #080b12;
}

.canzoni{
  margin-top: 100px;
}

.home{
  background-color: #141922;
  width: calc(100% - 250px);
  height: calc(100% - 100px);
  overflow-y: auto;
  font-size: 25px;
}

footer{
  background: #282828;
  height: 100px;
  width: 100%;
}

.barra-laterale>img{
  width: 150px;
  height: 50px;
}

.nav>ul{
  margin-top: 20px;
}

/* .nav>ul>li>span{
  vertical-align: middle;
} */

.nav li:nth-of-type(4){
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

ul{
  list-style: none;
}

.nav li{
  padding: 10px 0px;
}

.nav{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height:100%;

}

.side-bar{
  height: calc(100% - 100px);
  align-content: space-between;
  display: flex;
}

.profilo{
  height: 100px;
  flex-direction: column;
  align-content: space-between;
  display: flex;
}

.nav img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.bordo{
  border-left: 1px #adff2f;

}


.upgrade{
  line-height: 100px;
  /* margin-right: 10%; */
}

.btn-upgrade{
  width: 200px;
  height: 30px;
  background-color: #080b12;
  border-color: lightgrey;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
}

.navbar-home{
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 15px;
}

.navbar-home ul{
  text-transform: uppercase;
  font-size: 18px;
}

.navbar-home li{
  display: inline-block;
  padding: 0px 10px;
}
